<form name="" action="/save" method="POST">
	<input type="text" name="name" placeholder="Name"></input><br>
	<input type="text" name="artist" placeholder="Artist"></input><br>
	<input type="text" name="year" placeholder="Year"></input><br>
	<input type="text" name="album" placeholder="Album"></input><br>
	<textarea name="lyrics" width="400" height="400"></textarea><br>
	<button type="submit">Save</button>
</form>